* {padding: 0;  margin: 0;}

body {
  display: flex;  
  height: 100vh;
 
flex-direction: column;  
justify-content: center;
 align-items: center;
  
}

main {  
  display: flex;
  width: 748px;
  
 background-color: red;

 
}




.attribution {
background-color: blue;
position: absolute;
  bottom: 0;

}

@media only screen and (max-width:375px) {
  body{
    
  }
  .attribution {
    position:inherit;
    bottom: 0;
    
    }
}